* {
    padding: 0;
    margin: 0;
  }


  /* PÁGINA - HOME */
.home-page{
    background-image: url('../images/fundo2-home.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    right: 0;
    text-align: right;
    max-width: 100%;
}
.home-page h2{
    font-size: 2em;
    text-align: initial;
    padding-bottom: 31px
}
.home-page i{
    color: #73C72B;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: bold;
}
.home-page h5{
    color: #73C72B;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 2em;
    text-align: -webkit-auto;
    text-decoration: overline;
}
.home-page p{
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: justify;
    line-height: 40px;
}
.callout{
    background-color: #73C72B;
    /* background-size: cover; */
    /* opacity: initial; */
    /* display: flex; */
    font-size: 10px;
    text-align: center;
}

.callout-green-text{
    padding-top: 30px;
}


.callout-green-button{
    line-height: 100px;
}
.callout-newsletter input {

    border-radius: 6px;
    padding: 18px;
}

#s{
    border-radius: 10px;

}

.container{
    /* display: flex; */
    padding: 31px;
    justify-content: space-evenly;
    align-items: center;
}
.btn-success {
    color: #fff;
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    font-size: 2em;
    text-transform: uppercase;
}


.btn-success :hover {
    background: green;
}

.carousel{
    position: relative;
}

.carousel-item-next, .carousel-item-prev, .carousel-item{
    height: 70vh;
    background-size: cover;
    background-position: center;
}
.container-texto {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.texto-fixo {
    position: absolute;
    padding: 5px;
    text-align: center;
    width: 427px;
    max-width: 100%;
    background-color:grey;
    border-radius: 6px;
    margin-left: 29px;
    color: white;
    text-transform: uppercase;
    top: 70px;
    left: 50px;
    opacity: 0.9;
    filter: alpha(opacity=50);
}

.texto-fixo-2 {
    position: absolute;
    padding: 5px;
    /* margin-left: 10p;
    margin-right: 50px;   */
    text-align: center;
    width: 427px;
    max-width: 100%;
    background-color:grey;
    border-radius: 6px;
    box-shadow: aquamarine;
    right: 80px;
    bottom: 50px;
    color: white;
    text-transform: uppercase;
    opacity: 0.9;
    filter: alpha(opacity=50);

}




.chamadaNewsletter {
    /* font-size: larger; */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: justify;
    line-height: 40px;
       font-size: 22px;


}

.callout h2{
    text-decoration: overline;
}

.callout-newsletter{
    /* height: 100px; */
    /* background-size: cover; */
    opacity: initial;
    /* display: flex; */
    font-size: 10px;
    /* text-align: right; */
    /* align-content: center; */
    /* align-items: center; */
}
.callout-newsletter input{
    font-size: 18px;
    height: 30px;
    /* width: 340px; */
}
.callout-newsletter button{
    font-size: 18px;
    height: 40px;
    width: 140px;
}
.parceiros h4{
    text-align: center;
}
/* CARROSSEL */
.imgcarrossel{
    height: 400px;
}

/* MENU */
#menu_hamburger{
    display: none;
    background-color: #E6E6E6;
    color: white;
}
#menu_hamburger ul{
    list-style-type: none;
}
#menu_hamburger a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
}
#menu_hamburger li{
    list-style-type: none;
    line-height: 35px;
}
.itensMenu{
    position: relative;
}
.navbar-nav{
    text-align: right;
    padding: 0;
}


/* PÁGINA SOBRE */
.home-sobre{
    padding: 3em;
    display: flex;
    justify-content: space-between;
}

.background-img{
    background-image:  url('../images/educacao-ambiental-1.jpg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    opacity: initial;
    display: flex;

}
.home-sobre h2{
    font-size: 2em;
    text-align: initial;

    padding-bottom: 31px;
}
.home-sobre i{
    color: #73C72B;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: bold;
}
.home-sobre h5{
    color: #73C72B;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 2em;
    text-align: -webkit-auto;
    text-decoration: overline;
}
.home-sobre p{
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: justify;
    line-height: 40px;
}
.background-recicla{
    background-image: url('../images/reciclagem.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 46%;
 }








/* .h2-reeduca-sobre{
    padding-top: 60px;
    color: #73C72B;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 2em;
    text-align: -webkit-auto;
    text-decoration: overline; */
/* } */
/* .img-sobre-txt{
    background-image: url('../images/reciclagem.jpg');
    background-repeat: no-repeat;
    width: 120px;
    height: 350px;
    background-size: 60%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; */


/* .texto-sobre-2{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: larger;
    text-align: center;
    line-height: 40px;
    text-align: justify;
} */


/* @media  (max-width: 768px){
    .h1-sobre{
        top: 36%;
    }
}
@media  (max-width: 540px){
    .h1-sobre{
        top: 7%;
    }
    .img-sobre-txt{
        background-repeat: no-repeat;
        width: 125px;
        height: 60vh;
        background-size: 60%;
        background-position: center;
    }
} */

/* FINAL PÁGINA SOBRE  */

.link-cadastro{
    width: 100%;
    text-align: center;
}
/* PÁGINA LOJA */

.texto-titulo h1{
    font-size: 2em;
    text-align: initial;
    padding-bottom: 31px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-transform: uppercase;
    font-size: 2em;
    text-align: left;
}

.texto-titulo  p{
    color: rgb(247, 250, 244);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 2em;
    text-align: -webkit-auto;
    text-decoration: overline;
}

section.fundo-login{
    height: 482px;
    padding: 30px;
}
.jumbotron{
    background-image: url('../images/cursos1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    opacity: initial;
    display: flex;

}
.jumbotron.container{
    text-align: center;
}
/* FINAL PÁGINA LOJA */

/* PÁGINA DETALHE-CURSO */
.detalhe-produto{
    margin-top: 25px;
}
.detalhe-compra li{
    margin-left: 60px;
}
.form-compra-check-label{
    align-items: center;
    margin-top: 15px;
}
.form-detalhe{
    margin-top: 30px;
}
.tab-compra{
    margin-top: 30px;
}
.tab-pane h5,h6,button{
    margin-left: 30px;
}
.img-pagseg img{
    margin-left: 60px;
}
.tab-margem{
    margin-top: 220px;
}
.msg-conclusao{
    margin-top: 30px;
    margin-left: 350px;
    height: 430px;
    text-align: center;
}
.msg-conclusao h5{
    margin-left: 150px;
    color: blue;
}

/* FINAL DETALHE-CURSO */

/* PÁGINA REMONEY */
.descricao-remoney{
    height: 450px;
    color: #707175;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: justify;
    line-height: 26px;
}
.conteudo-inteiro-remoney{
    display: flex;
}
.descricao-vantagem-remoney{
    margin-bottom: 16px;
    height: 74vh;
    color: grey;
    padding-top: 46px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: justify;
    line-height: 33px;
}
.remoneyCaixa{
    margin-bottom: 70px;
}

#vantagem{
    color:#73C72B;
    text-transform: uppercase;

    color: black;
    text-transform: uppercase;
    font-size: large;
    border: solid -7px grey;
    border-radius: -8px;
    text-align: center;
    box-shadow: 1px 1px 11px 1px grey;
    background-color: #D8D8D8;
}
.conteudo-texto-remoney{
    margin-top: 40px;
}
.imagem-conheca-remoney{
    padding-top: 44px;

}


/* FINAL PÁGINA REMONEY */

/* PÁGINA CONTATO */
.imagem_fundo_contato{
    background-image: url('../images/bg-contato.jpg');
    background-size: 1400px;
}
.ladoDireito{
    padding-top: 52px;
    width: 380px;
    max-width: 100%;
    margin: 0 auto;
}
.ladoEsquerdo{
    padding-top: 213px;
    text-align: center;
    width: 380px;
    max-width: 100%;
    margin: 0 auto;
}
.form_contato1{
    padding-top: 5px;
}
.botao_contato{
    padding-bottom: 74px;
    padding-top: 27px;
}
/* FINAL PÁGINA CONTATO */

/* FOOTER */
footer {
    background-color: #73C72B;
    bottom:0;
    width:100%;
}
.footer-copyright p{
    padding-left: 47px;
    padding-top: 25px;
    color: white;
}

@media  (max-width: 780px) {
    .home-page {
      background: none;
      overflow: auto;
    }
    .texto-fixo-2{
        right: 30px;
    }
    .texto-fixo{
        left: -10px;
    }
    /* .imgcarrossel {
        height: 242px;
    } */
    .background-recicla{
        background: none;
        overflow: auto;
        display: none;
    }


    }

